<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236801885425-3vheb94qgaj4sevolkb2qt20nhakrths.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236801885425-3vheb94qgaj4sevolkb2qt20nhakrths</string>
	<key>API_KEY</key>
	<string>AIzaSyCGVU312arvU_21H-_YLd0T4zDlR1WN5Rs</string>
	<key>GCM_SENDER_ID</key>
	<string>236801885425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.iflet.ScoreBoard</string>
	<key>PROJECT_ID</key>
	<string>scoreboard-7c065</string>
	<key>STORAGE_BUCKET</key>
	<string>scoreboard-7c065.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236801885425:ios:2853fd392d906661c31550</string>
</dict>
</plist>